pendulum>=2.1.2
requests>=2.23.0
urllib3>=1.25.9
paramiko>=2.7.2
scp
nbgrader
# git+https://github.com/trevorcampbell/fwirl@main
# git+https://github.com/ubc-dsci/dictauth@main

loguru
notifiers
kombu
click


